<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Vendor Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Application Scripts -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>

    <div class="row" id="header">
      <h1 class="col m8 offset m2"><strong>WDI π Event Board</strong></h1>
      <!-- Modal Trigger -->
      <button class="add-event col m2" type="button" name="button">Add Event!</button>
    </div>
      <hr>
    <div class="row" id="eventTarget">
    </div>

      <!-- Modal Structure -->
      <div id="eventModal" class="modal">
        <div class="modal-content">
          <h4>Add New Event</h4>
        </div>
          <form class="submit-event" action="/api/events" method="post">
            <div class="row">
              <div class="form-group input-field col s12">
                <input id="name" type="text" class="validate" required="true" >
                <label for="name">Event Name</label>
              </div>
              <div class="form-group input-field col s6">
                <input id="host" type="text" class="validate" required="true" >
                <label for="host">Host</label>
              </div>
              <div class="form-group input-field col s6">
                <input id="where" type="text" class="validate" required="true" >
                <label for="where">Where</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group input-field col s6">
                <input id="when" type="text" class="validate" required="true" >
                <label for="when">When</label>
              </div>
              <div class="form-group input-field col s6">
                <input id="what" type="text" class="validate" required="true" >
                <label for="what">Description</label>
              </div>
            </div>
            <button type="submit" name="action">Submit</button>
          </form>
      </div>

      <div id="editModal" class="modal">
        <div class="modal-content">
          <h4>Edit Event</h4>
            <div class="modal-body" id="editEventModalBody">
                <p> REPLACE #editEventModalBody</p>
            </div>
        </div>
    </div>


      <script id="event-template" type="text/x-handlebars-template">
        {{#each events}}
        <div class="col s6 m3">
          <div class="card #009688 teal">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <ul>
                <li>Host: {{host}}</li>
                <li>Where: {{where}}</li>
                <li>When: {{when}}</li>
                <li>Description: {{what}}</li>
              </ul>
            </div>
            <div class="card-action">
              <button class="edit-event" type="button" name="button" data-id={{_id}}>Edit Event</button>
              <button class="delete-event" type="button" name="button" data-id={{_id}}>Delete</button>
            </div>
          </div>
        </div>
      {{/each}}
      </script>

      <script id ='event-edit-template' type='text/x-handlebars-template'>
        <form class="edit-event-form" action="/api/events" method="put" onsubmit="submitEditEvent(event)">
          <div class="row">
            <div class="form-group input-field col s12">
              <input id="edit-name" type="text" class="validate" value = "{{name}}" required="true">
              <label class="active" for="name">Event Name</label>
            </div>
            <div class="form-group input-field col s6">
              <input id="edit-host" type="text" class="validate" value="{{host}}" required="true">
              <label class="active" for="host">Host</label>
            </div>
            <div class="form-group input-field col s6">
              <input id="edit-where" type="text" class="validate" value="{{where}}" required="true">
              <label class="active" for="where">Where</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field col s6">
              <input id="edit-when" type="text" class="validate" value = "{{when}}" required="true">
              <label class="active" for="when">When</label>
            </div>
            <div class="form-group input-field col s6">
              <input id="edit-what" type="text" class="validate" value = "{{what}}" required="true">
              <label class="active" for="what">Description</label>
            </div>
          </div>
          <button type="submit" id="editEventModalSubmit" name="action" eventId="{{_id}}">Submit Changes</button>
        </form>
      </script>
  </body>
</html>
